
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
}





/* Container */
.container {
  max-width: 1212px;
  margin: 0 auto;
  padding: 12px 12px;
}

.headerSection{
    background-color: #74C69D;
    padding-top: 35px;
    padding-bottom: 40px;
}

.navbarWrap{
    display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 30px 0; */
}

.logo {
  display: flex;
  align-items: center;
  gap: 18px;
  text-decoration: none;
  flex-shrink: 0;
    overflow: hidden;
}

.logo img {
  height: 40px;
  display: block;
}

.logoText {
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  white-space: nowrap;
  text-decoration: none;
}


.navLinks{
 display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;

}

.navLinks a {
font-weight: 400;
    font-size: 20px;
    /* line-height: 125%; */
    letter-spacing: 0px;
    text-decoration: none;
    color: #FFFFFF;
} 

.menuIcon {
  display: none;
}
 

/* Hero Section */
.heroSection {
  background-color: #74C69D;
}

.heroContentWrap {
  display: flex;
  align-items: center;
  padding-bottom: 82.87px;
  justify-content: space-between;
  /* gap: 120px; */
}

.heroTextBox {
  flex: 1;
  color: #fff;
   padding: 39.57px 0px;
}
.heroTextBox h3{
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 5px;
    text-transform: uppercase;
  margin-bottom: 15px;
}

.welcomeText {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  margin-bottom: 20px;
}

.heroHeading {
     font-family: 'Crimson Text', serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 125%;
  margin-bottom: 15px;
}

.heroTextBox p {
font-weight: 400;
font-size: 15px;
line-height: 125%;
margin-bottom: 25px;
}

.heroButton {
  height: 48px;
  width: 170px;
  padding: 10px 24px;
  font-size: 20px;
  background-color: #FFFFFF;
  color: #000000;
  line-height: 125%;
  font-weight: 400;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.heroImageBox {
  flex: 1;
 max-width: 644.28px;
    height: 378.13px;

}

.heroImage {
 width: 100%;
    height: 100%;
    object-fit: cover;
}

.partnersSection {
  background-color: #fff;
  text-align: center;
  padding: 60px 0;
}

.sectionLabel{
font-weight: 700;
font-size: 16px;
line-height: 125%;
letter-spacing: 5px;
text-align: center;
text-transform: uppercase;
color: #74C69D;
margin-bottom: 16px;
}

.sectionHeading{
  color: #000000;
font-weight: 700;
font-size: 40px;
font-family: "Crimson Text", serif;
line-height: 125%;
letter-spacing: 0px;
text-align: center;
margin-bottom: 16px;
}

.partnersSection p {
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  text-align: center;
  margin-bottom: 55px;
}

.logoRow {
  display: flex;
  justify-content: center;
  gap: 68px;
  flex-wrap: wrap;
  margin-bottom: 55px;
}

.logoRow img {
  max-width: 140px;
  max-height: 50px;
  object-fit: contain;
}
/* Buttons */
.sectionButton,
.featureTextBox button {
  width: 170px;
  height: 48px;
  background-color: #212529;
  color: #FFFFFF;
  border-radius: 5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  text-align: center;
  border: none;
  cursor: pointer;
}



/* Feature Section */
.featureSection {
  padding: 60px 0;
}

.featureWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 110px;
  /* margin-bottom: 73.57px; */
}

.featureWrap.reverse {
  flex-direction: row-reverse;
}

.featureImageBox {
  flex: 1;
  max-width: 599px;
    height: 431px;
     overflow: hidden;
}

.featureImageBox img {
  width: 100%;
  height: auto;
}

.featureTextBox {
  flex: 1;
}

.featureTextBox h3 {
font-family: "Crimson Text", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  margin-bottom: 16px;
}

.featureTextBox p {
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  color: #21252980;
  margin-bottom: 16px;
}

.featureTextBox button {
  width: 170px;
  height: 48px;
  background-color: #212529;
  border-radius: 5px;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  text-align: center;
}




/* Team Section */
.teamSection {
  background-color: #fff;
  text-align: center;
  padding: 60px 0;
}

.teamWrap .sectionHeading {
  margin-bottom: 12px;
}

.teamWrap p {
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  text-align: center;
  margin-bottom: 40px;
}

.teamCards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* gap: 44px; */
  margin-bottom: 40px;
}

.teamCard {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 270px;
  height: 299px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.teamCard img {
  width: 175px;
  height: 175px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.memberName {
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  margin-bottom: 16px;
}

.memberRole {
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  text-transform: uppercase;
}



/* footer */

.footerSection {
  background-color: #74C69D;
  padding: 30px 0;
}

.footerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1180px; */
  margin: 0 auto;
  padding: 0 60px;
}

.socialIcons {
  display: flex;
  gap: 24px;
}

.socialIcons a {
  color: #fff;
  font-size: 18px;
  transition: opacity 0.3s ease;
}

.footerText {
  font-size: 20px;
    font-weight: 400;
    line-height: 125%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}



/* 992 */
@media (max-width: 992px) {
 .container{
        max-width: 100%;
        /* background-color: #000000; */
    }

  /* Navbar */
  .navLinks {
    display: none;
  }

  .menuIcon {
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  /* Hero Section */
  .heroContentWrap {
    flex-direction: column;
    text-align: center;
  }

  .heroImageBox {
    order: 1;
    width: 100%;
    text-align: center;
  }

  .heroTextBox {
    order: 2;
    text-align: left;
  }

  .heroTextBox h1 {
    font-size: 32px;
  }

  .heroTextBox p {
    font-size: 16px;
  }

  .heroButton {
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
  }

  /* Partners Section */
  .logoRow {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  .sectionHeading {
    font-size: 32px;
  }

  .sectionButton {
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
  }

  /* Features Section */
  .featureWrap,
  .featureWrap.reverse {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .featureImageBox{
    width: 335px;
    height: 240px;
  }
  .featureImageBox img {
    width: 100%;
    height: 100%;
  }

  .featureTextBox h3 {
    font-size: 28px;
  }

  .featureTextBox p {
    font-size: 15px;
  }

  .featureTextBox button {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
  }

  /* Team Section */
  .teamCards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }

  .teamCard {
    width: 45%;
  }

  /* Footer */
  .footerRow {
    padding: 20px 30px;
  }
}

/* 768 viewport */
@media (max-width: 768px) {

  /* Navbar */
  .navLinks {
    display: none;
  }

  .menuIcon {
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .navBarWrap {
    justify-content: space-between;
    align-items: center;
  }

  /* Hero Section */
  .heroContentWrap {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .heroImageBox {
    order: 1;
    width: 100%;
    text-align: center;
  }

  .heroTextBox {
    order: 2;
    text-align: left;
  }

  .heroTextBox h1 {
    font-size: 24px;
  }

  .heroTextBox p {
    font-size: 14px;
  }

  .heroButton {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
  }

  /* Partners Section */
  .logoRow {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  /* .sectionHeading {
    font-size: 24px;
  }

  .sectionButton {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
  } */

  /* Features Section */
  /* .featureWrap,
  .featureWrap.reverse {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }


  .featureTextBox h3 {
    font-size: 22px;
  }

  .featureTextBox p {
    font-size: 14px;
  }

  .featureTextBox button {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
  } */

  /* Team Section */
  .teamCards {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .teamCard {
    width: 100%;
    max-width: 320px;
  }

  /* Footer */
  .footerRow {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    text-align: center;
  }

  .socialIcons {
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
  }
}
